<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @info.title %>
</p>

<p>
  <b>Description:</b>
  <%= @info.description %>
</p>

<p>
  <b>Date uploaded:</b>
  <%= @info.date_uploaded %>
</p>

<p>
  <b>Type:</b>
  <%= @info.infotype %>
</p>

<p>
  <b>File:</b>
  <%= image_tag @info.attachment.url(:large) %>
</p>


<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
